apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      group: argoproj.io
      kind: ApplicationSet
      name: cluster-operators-applicationset
    path: patch-cluster-operators-appset.yaml
  - target:
      group: argoproj.io
      kind: ApplicationSet
      name: cluster-oper-instances-applicationset
    path: patch-cluster-oper-instances-appset.yaml
